@charset "utf-8";
/* End Screen Styles */

body {
    margin: 0;
    padding: 0;
  }
  
.end-screen {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    background-color: $ocean-blue;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.end-text{
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
}

.end-title {
    font-family: $title-font;
    font-size: 3em;
    text-transform: capitalize;
    padding-bottom: 55px;
  }
  
.end-text p {
    font-size: 2em;
    font-family: $body-font;
}

.shoreline-web {
    background-color: $orange;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 25px 0;
    font-size: 1.5em;
    border: none;
    text-transform: capitalize;
    box-shadow: -8px 9px #35353554;
    cursor: pointer;
}